@charset "UTF-8";
.table tbody tr td{
            vertical-align: middle;
}
.cartItemNum {
	
	text-align:center;
}
.totalMoney {
	font-size:22px;
}

.emptyC{
	 background-color: #F7F7F7;
	 width: 400px ;
	 height: 300px ;
}
.emptycartImg{
	width:400px;
	height: 273px; 
	background-image:url("../img/cart-empty.png");
}