<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wantao.dao.UserMapper">
    <select id="logincheck" parameterType="com.wantao.bean.User" resultType="com.wantao.bean.User">
        select * 
        from t_user
        <where>
			<if test="username != null and username != ''">
				and `username` = #{username}
			</if>
			<if test="password != null and password != ''">
				AND `password` = #{password}
			</if>
		</where>
    </select>
    
    <insert id="register" parameterType="com.wantao.bean.User">
       insert into 
       t_user(username,password)
       values(#{username},#{password})
    </insert>
</mapper>